<script>
	import Newtab from './utils/newtab.svelte';
</script>

<div id="credits" class="credits">--inspiration--</div>

<div>
	inspiration:
	<Newtab href="http://www.nathalielawhead.com">alienmelon</Newtab>
	<Newtab href="https://dannyhawk.com/">danny hawk</Newtab>
	<!-- <Newtab href="https://dannyhawk.com/">danny hawk</Newtab> -->
	http://stfj.net/index2.php darwin ty
</div>

<style>
	.links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.title {
		width: 90%;
		max-width: 690px;
	}

	.title-img {
		width: 100%;
	}
</style>
