<script context="module">
	export const hydrate = true;
</script>

<script>
	let muts = []
	function clickmut(event) {
		console.log("hello")
		var i = Math.floor(Math.random() * muts.length)
		var randMut = muts[i]
		randMut.el.play()
	}

	for(let i = 0; i < 10; i++) {
		muts.push({
			id: i,
			filename: `mut-${i.toString().padStart(2, "0")}.mp3`,
			el: undefined,
		})
  }
</script>

<a-dumpling title="who" x="10" y="30" w="80" h="20">
  <div>

  {#each muts as mut}
    <audio style="display: none" bind:this={mut.el}>
      <source src="/sound/{mut.filename}" type="audio/mp3">
    </audio>
  {/each}
  <div>
      i am mut, pronounced as moochi. (click <button class="mutbutton" on:click={clickmut}>heeeere</button> to hear correct pronunciation)
  </div>
  <div class="thanks">
      thanks ailin for the in depth exploration of ways to say mut out loud
  </div>
  </div>
</a-dumpling>

<style>
  .mutbutton {
    color: gray;
    font-size: 1em;
		font-weight: bold;
  }

  .thanks {
    position: absolute;
    bottom: 5px;
    font-size: 0.4em;
  }
</style>
