<script context="module">
	export const prerender = true;
	export const hydrate = true;
</script>

<script>
	import Newtab from './utils/newtab.svelte';
	import SvelteMarkdown from 'svelte-markdown'
	import { marked } from 'marked'

	export let showtags = false;
	export let id;
	export let name;
	export let tags = false;
	export let year = false;
	export let url = false;
	export let description = false;
	export let relevance = false;
	export let collaborators = false;
	// export let link;
	export let source = false;
	export let imgs = false;
	export let itchId = false;

</script>

<div class="project">
	<div class="header">
		<span class="title" style="">
			{#if url}
				<a href={url}>{name}</a>
			{:else}
				{name}
			{/if}
		</span>
		{#if collaborators}
		<span class="authors">
				by me{#each collaborators as collaborator}
				<span>, <a href={collaborator.url}>{collaborator.name}</a></span>
				{/each}
		</span>
		{/if}
		{#if showtags && tags}
		<span class="tags">
				{tags}
		</span>
		{/if}
		<hr style="margin:0px"/>
	</div>

	<div class="body">
			<div class="body-scroll">
			<!-- {#if description} -->
				<!-- <div class="description">{@html marked(description)}</div> -->
			<!-- {/if} -->
			<!-- {#if relevance} -->
				<!-- <div class="relevance">{@html marked(relevance)}</div> -->
			<!-- {/if} -->
			<!-- {#if source} -->
				<!-- <div><Newtab href={source}>source</Newtab></div> -->
			<!-- {/if} -->
			<!-- {#if itchId}
				<iframe
					title={name}
					src="https://itch.io/embed/{itchId}?bg_color=B854A0&amp;fg_color=1D3F36&amp;link_color=A7AE0C&amp;border_color=d26eba"
					width="208"
					height="167"
					frameborder="0"
				/>
			{/if} -->
		</div>
	</div>
</div>

<style>
	/* a {
		color: blue;
		background-color: transparent;
	} */

	/* a:visited {
		color: magenta;
		background-color: transparent;
	} */

	.project {
		pointer-events: all;
		user-select: text;
		height: 100%;
		overflow-y: auto;
		margin-top: 0.5em;
	}

	.image {
		width: 100%;
	}

	.title {
		padding-bottom: 10px;
		padding-top: 4px;
		margin: 0px;
		text-overflow: clip;
		font-weight: bold;
	}

	.header {
		position: sticky;
		top: 0px;
		left: 0px;
	}

	.body {

	}

	.tags {
		padding-left: 3em;
		font-size: smaller;
	}

</style>
