<script>
	import Project from './project.svelte';
	import projects from './data/projects.js';

	const projectsByYear = projects.reduce((gby, g) => {
		if (gby[g.year] == null) {
			gby[g.year] = [];
		}
		gby[g.year].push(g);
		return gby;
	}, {});
	const years = Object.keys(projectsByYear).reverse();
</script>

<div class="projects-container">
	<div class="projects-title">projects</div>
	<div class="projects-lists">
		{#each years as year}
			<div class="projects-year">{year}</div>
			<div class="projects-list">
				{#each projectsByYear[year] as project, i}
					<div
						class="projects-list-item"
						onclick="document.getElementById('dumpling-{project.id}').show()"
					>
						<b>{i.toString().padStart(2, '0')}</b>
						{project.name}
					</div>
				{/each}
			</div>
		{/each}
	</div>
</div>

<div class="dumpling-container">
	{#each projects as project}
		<Project {...project} />
	{/each}
</div>

<style>
	.projects-container {
		font-family: 'Courier New', Courier, monospace;
		margin: 50px;
		background-color: #000000aa;
		color: white;
		border-style: double;
		overflow: hidden;
		max-height: 500px;
		width: 200px;
		display: flex;
		flex-direction: column;
	}

	.projects-title {
		top: 0px;
		font-size: 30px;
		padding: 5px;
	}

	.projects-year {
		margin-top: 8px;
		font-size: 16px;
		font-weight: bold;
	}

  .projects-lists {
		overflow-y: scroll;
	}

	.projects-list-item {
		padding: 0;
		padding-left: 36px;
		text-indent: -28px;
		font-size: 16px;
		color: white;
		border: none;
		text-align: left;
		margin: 0;
	}

	.projects-list-item:hover {
		cursor: zoom-in;
		text-shadow: 2px 2px 1px magenta;
		background: url('/img/noise.gif');
	}
</style>
