<script context="module">
	export const prerender = true;
	export const hydrate = true;
</script>

<script>
	import Newtab from './utils/newtab.svelte';
	import SvelteMarkdown from 'svelte-markdown'
	import { marked } from 'marked'

	export let id;
	export let name;
	export let tags = false;
	export let year = false;
	export let url = false;
	export let description = false;
	export let relevance = false;
	export let collaborators = false;
	// export let link;
	export let source = false;
	export let imgs = false;
	export let itchId = false;

</script>

<a-dumpling
	temperament="phlegmatic"
	id="dumpling-{id}"
	title={name}
	min-x="10"
	max-x="25"
	min-y="10"
	max-y="30"
	w="50"
	h="50"
	hidden
	active
>
	<div class="project">
		<div class="header">
			<h1 class="title" style="">
				{#if url}
					<Newtab class="title-link link" href={url}>{name}</Newtab>
				{:else}
					{name}
				{/if}
			</h1>
			<div class="authors">
				by me
				{#if collaborators}
					{#each collaborators as collaborator}
						<span>, <Newtab class="link" href={collaborator.url}>{collaborator.name}</Newtab></span>
					{/each}
				{/if}
			</div>
			{#if tags}
				<div class="tags">tags: {tags}</div>
			{/if}
			<hr style="margin:0px"/>
		</div>

		<div class="body">
				<div class="body-scroll">
				{#if description}
					<div class="description">{@html marked(description)}</div>
				{/if}
				{#if source}
					<div><Newtab class="link" href={source}>source</Newtab></div>
				{/if}
				{#if imgs}
					<div class="images">
					{#each imgs as img}
						<img class="image" src={`/img/projects/${img}`} alt={description}>
					{/each}
					</div>
				{/if}
				<!-- {#if itchId}
					<iframe
						title={name}
						src="https://itch.io/embed/{itchId}?bg_color=B854A0&amp;fg_color=1D3F36&amp;link_color=A7AE0C&amp;border_color=d26eba"
						width="208"
						height="167"
						frameborder="0"
					/>
				{/if} -->
			</div>
		</div>
	</div>
</a-dumpling>

<style>
	.tags {
		font-size: medium;
	}

	.project {
		pointer-events: all;
		user-select: text;
		height: 100%;
		overflow-y: auto
	}

	.image {
		width: 100%;
	}

	.title {
		padding-bottom: 10px;
		padding-top: 4px;
		margin: 0px;
		text-overflow: clip;
	}

	.header {
		position: sticky;
		top: 0px;
		left: 0px;
		background: #DADADA;
		padding-bottom: 5px;
		box-shadow: 0px 2px 10px;
	}

	.body {

	}

</style>
