<div class="sidebar">
	<ul>
		<li>games</li>
		<li>maybe games</li>
		<li>not games</li>
	</ul>
</div>

<style>
	.sidebar {
		position: sticky;
		left: 0.2em;
		top: 30%;
		font-family: mutletras;
		font-size: 2em;
	}

	ul {
	}
</style>
