<script>
	import Newtab from './utils/newtab.svelte';

	let links = [
		{
			id: 'itch',
			url: 'https://muts.itch.io'
		},
		{
			id: 'twitter',
			url: 'https://twitter.com/mutmedia'
		},
		{
			id: 'gitlab',
			url: 'https://gitlab.com/mutmedia'
		},
		{
			id: 'github',
			url: 'https://github.com/mutmedia'
		},
		{
			id: 'email',
			url: 'mailto:gustavo.ceci95+fromwebsite@gmail.com'
		},
		{
			id: 'soundcloud',
			url: 'https://soundcloud.com/mutmedia'
		}
	];
</script>

<div id="title" class="title">
	<img
		class="title-img"
		src="/img/mutmedia.png"
		alt="MUTmedia, a logo. Description: pink M, cyan U, yellow T with colour bleeding out of a sloppily defined contour of the word MUT. The same line that defined the contour is used to write media in smaller letters"
	/>
	<div>----- a good game design</div>

	<div id="links" class="links">
		{#each links as link}
			<div id={link.id}>
				<Newtab href={link.url}>{link.id}</Newtab>
			</div>
		{/each}
	</div>
</div>

<style>
	.links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.title {
		width: 90%;
		max-width: 690px;
	}

	.title-img {
		width: 100%;
	}
</style>
