<script>
	export let maxDepth = 100;
	export let depth = 0;
	export let c = '';
	export let calculateStyle = (depth) => {
		return '';
	};
</script>

{#if depth < maxDepth}
	<div class={c} style={calculateStyle(depth)}>
		<svelte:self depth={depth + 1} {maxDepth} {calculateStyle} {c}>
			<slot {depth} />
		</svelte:self>
	</div>
{:else}
	<slot {depth} />
{/if}
