<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<Newtab href="https://muts.itch.io/re-imagine-the-character">Here's one for you</Newtab>

	<p>
		People like to imagine a game that is well played. Seeing professional people play games helps
		us imagine what would it be if ourselves were there. Its cool to make games that you can strive
		and imagine playing well one day
	</p>
</div>

<style>
	.container {
		background-color: blueviolet;
		color: aqua;
		height: fit-content;
		width: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		font-size: 30px;
	}

	.container p {
		margin: 10%;
	}
</style>
