<script>
	import Project from '@lib/project-cv.svelte';
	import projects from '@lib/data/projects.js';
	import { marked } from 'marked'

  const majorTypes = ["job", "degree", "teaching"]
  const projectsByMajorType = projects.reduce((pbmt, p) => {
    var tags = p.tags == null
      ? []
      : p.tags.split(",")
    for(let t of majorTypes) {
      if(tags.includes(t)) {
        if(pbmt[t] == null) {
          pbmt[t] = []
        }
        pbmt[t].push(p)
      }
    }

    if(majorTypes.every(t => !tags.includes(t))) {
      if(pbmt["other"] == null) {
        pbmt["other"] = []
      }
      pbmt["other"].push(p)
    }

    return pbmt
  }, {});
	const jobs = projectsByMajorType["job"]
	const degrees = projectsByMajorType["degree"]
	const teaching = projectsByMajorType["teaching"]
  const exhibitions = projectsByMajorType["other"]
    .filter(p => p.exhibitions && p.exhibitions.length > 0)
    .map(p => p.exhibitions.map(exhibition => ({
      project: p.name,
      details: exhibition,
      dateVal: exhibition.year * 100 + exhibition.month
    })))
    .flat()
  exhibitions.sort((a, b) => b.dateVal - a.dateVal)
  const presentations = projectsByMajorType["other"]
    .filter(p => p.presentations && p.presentations.length > 0)
    .map(p => p.presentations.map(presentation => ({
      project: p.name,
      details: presentation,
      dateVal: presentation.year * 100 + presentation.month
    })))
    .flat()
  presentations.sort((a, b) => b.dateVal - a.dateVal)

  const awards = projectsByMajorType["other"]
    .filter(p => p.awards && p.awards.length > 0)
    .map(p => p.awards.map(award => ({
      project: p.name,
      details: award,
      dateVal: p.year * 100
    })))
    .flat()
  awards.sort((a, b) => b.dateVal - a.dateVal)

	const projectsByYear = projectsByMajorType["other"].reduce((gby, g) => {
		if (gby[g.year] == null) {
			gby[g.year] = [];
		}
		gby[g.year].push(g);
		return gby;
	}, {});
	const years = Object.keys(projectsByYear).reverse();
</script>

<div class="cv-container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="projects-title">mut, aka moochi, aka Gustavo Ceci Guimaraes' CV</h1>
    <div class="lists">
      <h2 class="year">education</h2>
      <div class="projects-list">
        {#each degrees as project, i}
          <Project {...project} />
        {/each}
      </div>

      <h2 class="year">teaching</h2>
      <div class="projects-list">
        {#each teaching as project, i}
          <Project {...project} />
        {/each}
      </div>

      <h2 class="year">jobs</h2>
      <div class="projects-list">
        {#each jobs as project, i}
          <Project {...project} />
        {/each}
      </div>

      <h2 class="year">exhibitions</h2>
      <div class="projects-list">
        {#each exhibitions as exhibition, i}
         <div class="one-liner">
            {exhibition.project} @ {exhibition.details.name}, {exhibition.details.year},
         </div>
        {/each}
      </div>

    <h2 class="year">workshops & presentations</h2>
      <div class="projects-list">
        {#each presentations as presentation, i}
         <div class="one-liner">
            {presentation.project} @ {presentation.details.name}, {presentation.details.year},
         </div>
        {/each}
      </div>

      <h2 class="year">awards</h2>
      <div class="projects-list">
        {#each awards as award, i}
         <div class="one-liner">
            {award.project} / {award.details.title} - {award.details.giver}
         </div>
        {/each}
      </div>

      {#each years as year}
        <h2 class="year">{year}</h2>
        <div class="projects-list">
          {#each projectsByYear[year] as project, i}
            <Project {...project} showtags/>
          {/each}
        </div>
      {/each}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<style>
  .projects-title {
  }

  .cv-container {
    padding: 5em;
    overflow: scroll;
    height: 100%;
  }

  .lists {
  }

  .one-liner {
    padding-bottom: 1em;
  }

  .cv-container a {
		color: blue;
		background-color: transparent;
	}

	.cv-container a :visited {
		color: #b528b5;
		background-color: transparent;
	}

	.year {
    /* font-size: 3em; */
	}
</style>

