<script context="module">
	export const prerender = true;
	export const hydrate = true;
</script>

<script>
	import Sidebar from '@lib/sidebar.svelte';
	import Title from '@lib/title.svelte';
	import Projects from '@lib/projects.svelte';
	import { onMount } from 'svelte';
	import MutButton from '@lib/mutbutton.svelte';
	onMount(async () => {
		await import('/static/lib/dumpling/a-dumpling.js');
	});

	const mailTitle = 'pls work for us';
	const mailBody = `dearest mut (which we are aware is pronounced as /moochi/),

we just saw your amazing website and couldn't help but to click through many of the linked stuff as possible!

we liked your work so much that we would like to hire you on the spot, for $420.00 an hour. we are making up a project just to make sure you will join us.

very excited to work with you,

- [YOUR NAME HERE]
`.replaceAll('\n', '%0D%0A')

</script>

<div class="main-body">
	<Title />
	<!-- <Sidebar /> -->

	<div
		style="font-size:70px; background-color:darkblue; color:yellow; position: absolute; left: 80%; top:25%"
	>
		=)
	</div>
	<div class="dumpling-container">
		<MutButton />

		<a-dumpling title="a picture of me" x="-10" y="55" w="40" h="40">
			<div style="width: 100%; height: 100%;">
				<img
					style="width: 100%; height: 100%;"
					src="img/panela.gif"
					alt="a janky gif of a pan lid waling"
				/>
			</div>
		</a-dumpling>
		<a-dumpling title="hello" x="00" y="20" w="80" h="10" focused>
			<div>hello (possible) friend, this is my webpage</div>
		</a-dumpling>
		<a-dumpling title="hire me!" x="-10" y="27" w="40" h="20" focused layer="2">
			<div>i am looking for freelance work, <a href="mailto:gustavo.ceci95+work@gmail.com?subject={mailTitle}&amp;body={mailBody}">contact me</a> asap, you don't wanna miss out</div>
		</a-dumpling>
		<a-dumpling title="paradise webvoid" x="70" y="70" w="33" h="33" focused layer="3">
				<iframe title="webvoid" src="https://youcanneverleave.art/?fg=ffffff&bg=000000" width="100%" height="420px"></iframe>
		</a-dumpling>
	</div>

	<Projects />
</div>
