<script context="module">

</script>

<script>
	import { onMount } from "svelte";
	let scroll;

	const imgsMeta = import.meta.glob("/static/img/mspaint/*.{png,jpg}")
	const imgs = Object.keys(imgsMeta).map(url => url.replace("/static", ""))
	imgs.sort(() => Math.random() - 0.5);

	function horizontalScroll(evt) {
		evt.preventDefault();
		scroll.scrollLeft += evt.deltaY;
		console.log("aaa", evt)
	 }

	 function random(min, max) {
		return min + (max-min) * Math.random();
	 }

</script>

<div class="main-body container" on:wheel={horizontalScroll} bind:this={scroll}>
	{#each imgs as img, i}
	 <div style="z-index: {imgs.length-i}; position: relative; margin-left: {random(-100, 100)}px; margin-top: {random(-110, 10)}px; rotate: {random(-1, 1)}deg">
		<img class="paintimg" src={img} alt={img}>
		<div class="card">{img.split('/').pop().replace('.png', '').replace('.jpg', '')}</div>
	 </div>
	{/each}
</div>

<style>
	.card {
		position: absolute;
		right: -10px;
		bottom: -10px;
		background-color: white;
		width: fit-content;
		padding: 10px;
		border: solid 2px;
		font-size: 0.4em;
		font-family: 'Courier New', Courier, monospace;
	}

	.container {
		/* padding: 100px; */
		background-color: rgb(242, 240, 246);
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow-x: auto;
		flex-wrap: wrap;
		gap: 4em;

		background-image: url("/img/whitewall.jpg");
	}

	.paintimg {
		max-height: 30vh;
		width: auto;
		padding: 5vmin;
		background-color: #f8f8ee;
		border: 5px solid #5a5a5a;
		border-radius: 2px;
		box-shadow: 20px 20px 40px -25px #000;
	}
</style>
