@font-face {
  font-family: ‘mutletras’;
  src: url(‘fonts/Mutletras-Regular.ttf’);
}

:root {
  --magenta: #F382F3;
  --cyan: #82F3F3;
  --yellow: #F3F382;
  --green: #82eaaf;
  --darkblue: #4D5797;

  --text: var(--yellow);
  --link: var(--magenta);
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  width: 100%;
  height: 100%;
}

#svelte {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  height: 100%;
  overflow: hidden;
}

.link a {
  background: var(--cyan);
  color: var(--darkblue);
}

.link a:visited {
  background: var(--magenta);
  color: var(--darkblue);
}

li {
  margin-top: 15px;
}

:root {
  --button-hop: 5px;
  --button-dist: 0.4em;
  --button-dist-hover: 0.6em;
  --button-dist-active: 0em;
}

button {
  color: #f6f6f4;
  font-family: monospace;
  white-space: nowrap;
  border: none;
  background:none;
  margin-left: var(--button-dist-hover);
  margin-right: var(--button-dist-hover);
  vertical-align: middle;
}

button:hover {
  padding-bottom: var(--button-hop);
  margin-top: 1px;
}

button:active {
  color: #e7ee89 !important;
  padding-bottom: 1px !important;
  margin-top: var(--button-hop) !important;
}


button:before {
  content: '[';
  padding-right: var(--button-dist);
}

button:after {
  content: ']';
  padding-left: var(--button-dist);
}

button:hover::before {
  content: '|';
  padding-right: var(--button-dist-hover);
}

button:active::before {
  content: '<';
  padding-right: var(--button-dist-active);
}

button:hover::after {
  content: '|';
  padding-left: var(--button-dist-hover);
}

button:active::after {
  content: '>';
  padding-left: var(--button-dist-active);
}