@font-face {
  font-family: ‘mutletras’;
  src: url(‘fonts/Mutletras-Regular.ttf’);
}

:root {
  --magenta: #F382F3;
  --cyan: #82F3F3;
  --yellow: #F3F382;
  --green: #82eaaf;
  --darkblue: #4D5797;

  --text: var(--yellow);
  --link: var(--magenta);
}

#svelte {
  height: 100%;
}

.main-body {
  background-image: url("/img/fundo.png");
  background-size:contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: mutletras;
  font-size: 2em;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
  height: 100%;
}

.dumpling-container {
  position: fixed;
  top: 5vmin;
  right: 5vmin;
  width: 90vmin;
  height: 90vmin;
  /* border: double yellow; */
  pointer-events: none;
}