<script>
	import Newtab from '$lib/utils/newtab.svelte';
	import Skategame from './skategame.svelte';
</script>

<template>
	<h1>skategames</h1>
	<p>
		click <Newtab href="https://board.net/p/skategames">here</Newtab> to better understand my thoughts
		on skate games
	</p>

	<p>here's some good skategames:</p>

	<Skategame
		name="counter strike"
		examples={{
			surfing:
				'https://www.youtube.com/watch?v=LNPMDHx5_6E&list=PLfTDu9lzgtFHVirg_tSbRsSG6g0zKSdz6&index=27'
		}}
	/>
	<Skategame
		name="titanfall 2"
		examples={{
			'going fast':
				'https://www.youtube.com/watch?v=yXtggqe6oo0&list=PLfTDu9lzgtFHVirg_tSbRsSG6g0zKSdz6&index=42'
		}}
	/>
	<Skategame
		name="call of duty"
		examples={{
			'no scoping': 'https://www.youtube.com/watch?v=MLzql7ewCTk'
		}}
	/>
	<Skategame
		name="super smash bros melee"
		,
		examples={{
			'movement videos': 'https://www.youtube.com/watch?v=k2EoZElRbds',
			'named tricks':
				'https://www.youtube.com/watch?v=NM_YR6TOwOw&list=PLfTDu9lzgtFHVirg_tSbRsSG6g0zKSdz6&index=24'
		}}
	/>

	<Skategame
		name="fr0g clan official server 24/7 zk map (for stranger)"
		link="https://www.glorioustrainwrecks.com/node/11388"
	/>

	<Skategame name="kayak for kyle" link="https://getawaygames.itch.io/a-kayak-for-kyle" />

	<Skategame name="snakelike on an arcade machine with 2 trackballs" />

	<Skategame name="getting over it with bennett foddy" />

	<Skategame name="STREET UNI X" link="https://daffodil.itch.io/street-uni-x" />

	<Skategame name="bruxa" link="https://xinela.itch.io/bruxa" />

	<Skategame
		name="Halo"
		examples={{
			'tower to tower challenge':
				'https://www.youtube.com/watch?v=hNnIG_t-TE0&list=PLfTDu9lzgtFHVirg_tSbRsSG6g0zKSdz6&index=6&t=49s'
		}}
	/>

	<Skategame name="? kaizo mario (super mario world)">
		<p>
			this one in particular bothered me a bit for a while, since i usually like more the idea of
			improvisation than the idea of grinding a particular line. but the more I played Super Sonic
			Saves the World World, the more I felt like I was repeating a trick many many times as if
			recording <Newtab href="https://www.youtube.com/watch?v=Ns9mnYG6kfA"
				>a skate trick video</Newtab
			>.
		</p>
	</Skategame>

	<Skategame name="? sebil engineering?" link="https://stranger.itch.io/sebil-engineering">
		<p>
			maybe its a stretch, but I did feel like I was creating situation more aesthetically than
			about properly solving the levels
		</p>
	</Skategame>

<p>
	please dm me on <Newtab href="https://twitter.com/mutmedia">twitter</Newtab> if you want to talk about
	anything on this list or show me some cool skate game.
</p>

<p>
	quotes:
</p>
<blockquote cite="https://www.routledge.com/Sports-Videogames/Consalvo-Mitgutsch-Stein/p/book/9780415637565">
What I find fascinating about these games is how they pursue a fantasy offi
skateboarding that glosses over many of the actual experiences of skating and
its cultural practices. At the same time, all three games push against the practice
of skating as a quasi-sport (which lacks the objective, quantifiable goals of manyfi
sports) by wrapping it in sports videogame tropes for measuring player perfor-
mance. Even those adopted by skating, such as high airs, do not find a meaningfulfi
place in these games. The games end up modeling elements of skater subcul-
ture practice—the fashion, music, and language—along with artificial elements offi
skating competitions to create an uncanny valley of skater culture.

I dare say that few pros and diehard skaters play these skateboard videogames.
Much of the spirit, swagger, and pleasure of skateboarding is left out, leaving them
as something more akin to games based on skateboarding than authentic repre-
sentations of the skating experience. But then these games are not created for
or marketed to these two small audiences. They are designed for that enormous
middle sphere of skaters—the thousands and thousands of kids and teens that
enjoy skating, but have not dedicated their lives to its practice.
</blockquote>

<blockquote cite="https://www.blog.radiator.debacle.us/2010/09/illegible-free-roaming-city-linear.html?m=1">
"Because Tony Hawk is structured around repeated interaction with the same level, it is the equivalent of reading and re-reading a text several times. You notice new uses of language and subtle contradictions.

"Novice" users can collect the tapes and letters and missions; meanwhile, "Advanced" users can chain a 50-50 + 900 + reverse kick-flip + Superman and manual their way across the entire level. The giant floating letters and video tapes you collect are merely hints to get you to thinking about a certain piece of the environment; the real goal is to chain together absurdly high combos of tricks, and doing that requires much experimentation, scouting and location analysis -- in other words, what street skaters do in real-life. They read the city. "
</blockquote>

</template>

<p>
	inspiration
</p>
<ul>
	<li> <Newtab href="https://www.youtube.com/watch?v=xceuWCtrdGA">Pedro Barros Skates The Untouched Architecture Of Oscar Niemeyer</Newtab>
	</li>
	<li>
		<Newtab href="https://readonlymemory.vg/generation-tony-hawk/">
			Hannah Nicklin - Generation Tony Hawk: How a genre busting PlayStation game shaped the UK skate scene
		</Newtab>
	</li>
</ul>

<style>
</style>
