<script>
	import Newtab from '$lib/utils/newtab.svelte';

	export var name = '';
	export var link = '';
	export var examples = [];
</script>

<template>
	<details>
		<summary>
			{#if link}
				<Newtab href={link}>
					{name}
				</Newtab>
			{:else}
				{name}
			{/if}
		</summary>
		<ul>
			{#each Object.keys(examples) as exampleName}
				<li>
					<a href={examples[exampleName]}>
						{exampleName}
					</a>
				</li>
			{/each}
		</ul>
		<slot />
	</details>
</template>
