<script>
</script>

<div class="helloworld">
	<div class="hello">hello oi hello oi hello oi hello oi hello oi hello oi hello oi</div>
	<div class="world">
		world mundo world mundo world mundo world mundo world mundo world mundo world mundo world mundo
		world mundo
	</div>
</div>

<style>
	.helloworld {
		width: 100%;
		height: 100%;
		background: #f0c3f0;
		font-size: 30vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
		font-family: 'Courier New', Courier, monospace;
	}
	.hello {
		width: 70%;
		line-break: loose;
		overflow-x: scroll;
	}
	.world {
		width: 70%;
		overflow-x: scroll;
	}
</style>
