<script>
	let phrase = 'whew, I almost forgot...'.split(' ');
</script>

<div class="container">
	{#each phrase as word}
		<div class="word" style="padding-left: {Math.random() * 50}vw">{word}</div>
	{/each}
</div>

<style>
	.container {
		background-color: #13240b;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		cursor: zoom-in;
	}

	.word {
		font-size: 10vmin;
		/* transform: rotate(-90deg) translate(45%, 100%); */
		/* transform-origin: 0% 100%; */
		transition: opacity 5000ms ease-out;
		color: rgb(213, 240, 190);
		opacity: 0%;
		/* max-height: 300px; */
	}

	.word:hover {
		opacity: 100%;
	}
</style>
