<script>
	import { onMount } from 'svelte';

	let ls = null;
	let left = false;
	function setLeft(event) {
		// Chrome requires returnValue to be set.
		ls.setItem('left', true);
		left = true;
	}

	onMount(() => {
		typeof localStorage !== `undefined` && (ls = localStorage);
		left = ls.getItem('left');
	});
</script>

<div class="container">
	<div class="leave">{left ? 'why did you leave?' : "don't leave..."}</div>
</div>

<svelte:window on:blur={setLeft} on:beforeunload={setLeft} />

<style>
	.container {
		background-color: #240b0b;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		flex-direction: column-reverse;
	}

	.leave {
		margin-right: 10vmin;
		margin-bottom: 10vmin;
		padding-left: 4vmin;
		padding-right: 4vmin;
		font-size: 10vmin;
		background: #e73424;
		color: #240b0b;
	}
</style>
