<script></script>

<div class="container">
	<img
		src="/img/tododia/12.jpg"
		alt="textures of the city, black covered grafittis, brown wall, gray sky"
		width="1236"
		height="927"
	/>
</div>

<style>
	.container {
		background-color: rgb(242, 240, 246);
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	img {
		max-height: 50vh;
		width: auto;
		padding: 5vmin;
		background-color: #f8f8ee;
		border: 5px solid #5a5a5a;
		border-radius: 2px;
		box-shadow: 20px 20px 40px -25px #000;
	}

	.leave {
		margin-right: 10vmin;
		margin-bottom: 10vmin;
		padding-left: 4vmin;
		padding-right: 4vmin;
		font-size: 10vmin;
		background: #e73424;
		color: #240b0b;
	}
</style>
