<script>
	let divisions = new Array(16).fill(0);
</script>

<div class="container">
	{#each divisions as division}
		<div class="division" />
	{/each}
</div>

<div style="position:fixed; color: yellow; font-size: 3vmin; top:50%; left: 40%">
	SANFONA
</div>

<style>
	.container {
		background-color: rgb(242, 240, 246);
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

	.division {
		width: 100%;
		height: 100%;
		background: rgb(91, 117, 170);
		background: linear-gradient(90deg, rgba(91, 117, 170, 1) 0%, rgba(255, 8, 166, 1) 100%);
	}
</style>
