<script>
	const map = `
.........d
..........
H..WWWW...
W...H.....
W.z..x....
H.........
..W..W....
WWW......W
......z.W.
..W...H...
.....WW...
`;

	function o(symb, color) {
		return {
			symb,
			color
		};
	}

	var objects = {
		d: o('🚪', '#2D9BF0'),
		x: o('❌', '#FFFFFF'),
		W: o('', '#1A1A1A'),
		W: o('', '#1A1A1A'),
		z: o('💰', '#FEF445'),
		H: o('🪜', '#FFFFFF')
	};

	function go(char) {
		const obj = objects[char];
		if (obj == null) return o(' ', '#E5E6E8');
		return obj;
	}
</script>

<div class="container">
	<h1>ute adventures</h1>
	<table>
		<tbody>
			{#each map.trim().split('\n') as line}
				<tr>
					{#each line as char}
						<td style="background-color: {go(char).color}"> {go(char).symb}</td>
					{/each}
				</tr>
			{/each}
		</tbody>
	</table>
</div>

<style>
	.container {
		background-color: #ffefd5;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	table {
		width: 50vmin;
		height: 50vmin;
		cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 80" height="60" width="60"><rect x="0" y="0" width="60" height="60" style="fill:rgb(45, 155, 240);stroke-width:4;stroke:rgb(0,0,0)" /><text x="8" y="10" font-size="30" dominant-baseline="hanging">👀</text><text x="8" y="40" font-size="30" dominant-baseline="hanging">👅</text></svg>'),
			auto !important;
	}

	h1 {
		font-size: 5vmin;
		padding-bottom: 10vh;
	}

	td {
		width: 5vmin;
		height: 5vmin;
		border: solid black 2px;
		margin: 0px;
		text-align: center;
	}

	.division {
		width: 100%;
		height: 100%;
		background: rgb(91, 117, 170);
		background: linear-gradient(90deg, rgba(91, 117, 170, 1) 0%, rgba(255, 8, 166, 1) 100%);
	}
</style>
