<script></script>

<div class="container">
	<div style="padding-right: 40vmin;">
		<h1>a rat</h1>
		<img
			width="294"
			height="284"
			src="/img/tododia/15-2.png"
			alt="a rat standing on its back legs with a wooden structure on its back"
		/>
	</div>
	<div style="padding-left: 80vmin;">
		<h1>a tool</h1>
		<img
			width="218"
			height="131"
			src="/img/tododia/15-1.png"
			alt="an explanation on how to use mspaint layer like technique by using the eraser with the right click"
		/>
	</div>
</div>

<style>
	.container {
		background-color: #3f48cc;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	h1 {
		font-size: 2vmin;
		color: #98d7e8;
	}

	td {
		width: 5vmin;
		height: 5vmin;
		border: solid black 2px;
		margin: 0px;
		text-align: center;
	}

	img {
		max-height: 30vh;
		max-width: 30vw;
	}

	.division {
		width: 100%;
		height: 100%;
		background: rgb(91, 117, 170);
		background: linear-gradient(90deg, rgba(91, 117, 170, 1) 0%, rgba(255, 8, 166, 1) 100%);
	}
</style>
