<script>
	let number = Math.floor(Math.random() * 35);
</script>

<div class="container">
	<h1>NO</h1>
	<div
		class="card"
		style="background-color: hsl({((-number / 35.0) * 220 + 255 + 300) % 255}, 50%, 47%)"
	>
		<div>
			{number}
		</div>
	</div>
	<h1>THANKS</h1>
</div>

<style>
	.container {
		background-color: #d6d2ce;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	h1 {
		font-size: 10vmin;
		width: 50%;
		font-weight: 900;
		color: #000000;
	}

	.card {
		border: 10px solid whitesmoke;
		border-radius: 3px;
		width: 30vmin;
		height: 40vmin;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 20vmin;
	}
</style>
