<script>
</script>

<div class="container">
	<h4>made <a href="https://paradise-place.github.io/">this page</a> for a webring</h4>
	<iframe title="webvoid" src="https://paradise-place.github.io/" />
</div>

<style>
	.container {
		background-color: rgb(0, 0, 0);
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	h4 {
		color: azure;
	}

	iframe {
		height: 50vmin;
		width: 80vmin;
	}
</style>
