<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<h4>
		spent a whole lot of time today writing stuff<br />
		about education.<br />
		and it was pretty <br />
		intense<br />
		and tiring.<br />
		but also finished<br />
		<Newtab href="https://www.companhiadasletras.com.br/detalhe.php?codigo=14903">this book</Newtab
		><br />
		which was also<br />
		pretty<br />
		intense<br />
		<br /><br />
		and inspiring.<br />
		and written in this<br />
		b roken<br />
		way.<br />
		<br />
		<br />
		maybe...<br />
		maybe i should just do more of<br />
		<Newtab href="./18">this</Newtab><br />
		<br />
		but with which language?<br />
		<br />
		html é meio<br />
		quebrado<br />
		sei<br />
		lá<br />
		<br />
		<br />
		<br />

		cheio de<br />
		&lt br /&gt
	</h4>
</div>

<style>
	.container {
		background-color: rgb(0, 0, 0);
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 20%;
	}

	h4 {
		color: rgb(209, 209, 209);
	}
</style>
