<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<h4>
		today i played <br />
		league <br />
		of legends <br />
		<br />
		with my friends <br />
		<br />
		got carried <br />
		<br />
		lux<br />
		<br />
		is very fun. Q R <br />
		<br />
		<br />
		<br />
		2/9 <br />
		l a g <br />
	</h4>
</div>

<style>
	.container {
		background-color: #010a13;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 20%;
	}

	h4 {
		color: #cdbe94;
	}
</style>
