<script>
	import Newtab from '$lib/utils/newtab.svelte';

	const ideas = {
		// done
		'make a hello world with portuguese/english big words and scrollbars': 1,
		'an index to keep future ideas and dailies written down': 2,
		"a page using a random html element i find that i've never heard about": 3,
		'make a nice looking button element': 4,
		'write some thoughts i had in the subway': 5,
		'a kiss': 6,
		'use the <ruby> html tag': 7,
		'make a website between 2 subway stations': 8,
		'an attempt to make a tooltip that became something cooler': 9,
		'almost forgot': 10,
		needy: 11,
		'a cool picture i took on a walk around the block': 12,
		sanfona: 13,
		ute: 14,
		'a cool mspaint drawing and the technique tutorial': 15,
		'no thanks': 16,
		'a webring, linking to my friends': 17,
		'some attempt at poetry': 18,
		lol: 19,
		F: 20,
		"a dumpling.love style page to showcase some other people's games":
			'https://dumpling.love/forest/computer-love',
		'saint wiggler': 22,
		lazy: 23,
		'something exquisite': 24,
		weaving: 25,
		smash: 26,
		'a table, disquieting, unforgetable': 27,
		'a image stitcher, to help with the exquisite corpse': 28,
		juwalid2: 29,
		'gradient day': 30,
		'skip pain': 31,
		karaoke: 32,
		'playing with recursion': 33,
		'fishbowl 2022-03-01': 34,
		'unity being annoying': 35,
		'fixed unity': 36,
		romantic: 37,
		well: 38,
		'losing momentum': 39,
		aaa: 40,
		'another work, a bug': 40,

		// TODO
		'a game idea written down in a nice way, never to be implemented': null,
		'an interesting visual description of the experience of playing psychiatrist': null,
		'an interesting visual description of the experience of playing alien': null,
		'an album of my instagram sketches': null,
		'a collection of random words in portuguese, filling the screen': null,
		'a very well positioned picture of a single image, and a word': null,
		'a d20 table, rpg inspired': null,
		'&': null,
		'a house of leaves inspired text screen with rotated texts and holes': null,
		'make a tooltip element in the corner to explain what a page is': null,
		'make something fun with scrolls / squirrels': null,
		'use the canvas for something very simple': null,
		'multiple highlight colors and texts that appear and disappear': null,
		'a forest of links to people with emojis': null,
		'summary blockquote details': null,
		'words from the day we played fishbowl': null,
		'ailins pronunciation of my name': null,
		'random mspaint drawing library': null,
		'tododia randomizer': null,
		'a more playful index': null,
		'write about the well imagined game': null,
		'get dynalist games': null
	};

	const index = Object.keys(ideas)
		.filter((idea) => ideas[idea] !== null)
		.map((idea) => {
			var link = ideas[idea];
			return {
				description: idea,
				link: typeof link === 'number' ? `/tododia/${link}` : link
			};
		});

	const ideasOnly = Object.keys(ideas)
		.filter((idea) => ideas[idea] === null)
		.map((idea) => {
			return {
				description: idea
			};
		});
</script>

<div class="meta">
	<div>
		<h1 class="title">an index</h1>
		<div class="description">
			<p>of course by day 2 i'm already getting meta</p>
			<p>
				i think to be able to do daily things, i will somedays have to implement ideas from other
				days
			</p>
			<p>
				so day 2 will be an index, with links to the pages that have been implemented, and all ideas
				i have along the way and remember to update here.
			</p>
		</div>
		<div class="index">
			<h2>done</h2>
			<ol>
				{#each index as item}
					<li style={`rotate: ${Math.random() * 2 - 1}deg;`}>
						<a href={item.link}>{item.description}</a>
					</li>
				{/each}
			</ol>
		</div>
		<div class="ideas">
			<h2>ideas</h2>
			<ul>
				{#each ideasOnly as item}
					<li style={`rotate: ${Math.random() * 2 - 1}deg;`}>{item.description}</li>
				{/each}
			</ul>
		</div>
	</div>
</div>

<style>
	.meta {
		height: 98%;
		width: 80%;
		background: #dffeff;
		display: flex;
		padding: 10%;
		padding-top: 2%;
		flex-direction: column;
		align-items: center;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
			sans-serif;
		overflow-x: hidden;
	}

	.title {
		font-size: 5em;
	}

	.description {
		width: 40%;
	}
	.index {
		line-break: loose;
	}

	li {
		margin-top: 15px;
	}

	.ideas {
	}
</style>
