<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<h4>F</h4>
</div>

<style>
	.container {
		background-color: #ffffff;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h4 {
		font-size: 30;
		color: #f7fdc2;
	}
</style>
