<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<h4>
		an infinite desert, <br />
		hex <br />
		&nbsp;&nbsp;gridded <br />
		mine <br />
		&nbsp;&nbsp;filled <br />
		sweeping anxiety <br />
		am i going to explode <br />
		on the next hex? <br />
		will i find <br />
		anything there? <br />
		<br />
		slow walk, place flag <br />
		slow walk, place flag <br />
		don't <br />
		explode <br />
		please, place flag <br />
		<br />
		i can only hope that i understand <br />
		these giant <br />
		numbers <br />
		3, maybe i should go back <br />
		8, i should definitely go back <br />
		2, i hope i didn't make any mistake <br />
		0, a vast expanse of possibility <br />
		where do i go next? <br />
		<br />
		there's already a flag here <br />
		imagine the character <br />
		getting to the flagpole <br />
		<br />
		how does this saint <br />
		feel <br />
		crossing the desert <br />
	</h4>
	<div style="position: fixed; top: 25px; right: 230px">🚩</div>
	<!-- <div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 125px; right: 230px"
	>
		🕳️
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 225px; right: 230px; color: #050CF7"
	>
		1
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 325px; right: 230px; color: #117B1F"
	>
		2
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 425px; right: 230px; color: #FD151D"
	>
		3
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 525px; right: 230px; color: #0C0D7B"
	>
		4
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 625px; right: 230px: color: #780A0D"
	>
		5
	</div> -->
</div>

<style>
	.container {
		background-color: #f4ad7a;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 20%;
		background-image: url('/img/tododia/hex.png');
	}

	h4 {
		font-family: 'Courier New', Courier, monospace;
		font-size: 2.4vh;
		color: #004552;
		-webkit-text-stroke-width: 0.18vh;
		-webkit-text-stroke-color: #f4ad7a;
	}
	::-moz-selection {
		/* Code for Firefox */
		background: #f4ad7a;
	}

	::selection {
		background: #f4ad7a;
	}
</style>
