<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<h4>imsofiuscint tirded today...</h4>
	<div style="position: fixed; top: 25px; right: 230px">🚩</div>
	<!-- <div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 125px; right: 230px"
	>
		🕳️
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 225px; right: 230px; color: #050CF7"
	>
		1
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 325px; right: 230px; color: #117B1F"
	>
		2
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 425px; right: 230px; color: #FD151D"
	>
		3
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 525px; right: 230px; color: #0C0D7B"
	>
		4
	</div>
	<div
		style="font-weight: bold; font-family:'Courier New', Courier, monospace; position: fixed; top: 625px; right: 230px: color: #780A0D"
	>
		5
	</div> -->
</div>

<style>
	.container {
		background-color: #f4ad7a;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 20%;
	}

	h4 {
		font-family: 'Courier New', Courier, monospace;
		font-size: 2.4vh;
		color: #004552;
	}
	::-moz-selection {
		/* Code for Firefox */
		background: #f4ad7a;
	}

	::selection {
		background: #f4ad7a;
	}
</style>
