<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<div style="width: 300px">
		<h4>exquisite something</h4>
		<details>
			<summary>why?</summary>
			<p>
				i was just reading this discord conversation on the idea of making <Newtab
					src="https://muts.itch.io/cadavre-exquis">yet</Newtab
				>
				<Newtab src="http://infinite-panel.herokuapp.com/">another</Newtab>
				<Newtab src="https://dumpling.love/cadavre-exquis.html">exquisite corpse</Newtab> related project.
				i love exquisite corpses, i really thing they are an incredible kind of project, that emphasizes
				group creation over individual processes. however, i am also interested in particular stuff of
				the exquisite corpse aesthetic that i usually think is lost whenever exquisite corpses are made.
			</p>
			<img src="/img/tododia/corpse1.png" alt="an exquisite corpse connective tissue" />
			<p>
				one thing that isnt appreciated enough is the connection tissue, the part where two
				different people connect to each other. i think that thats more important than the corpse
				itself. the corpse being a way of people forgetting that theres a connective tissue, and
				thinking more about the bigger picture. if i draw a head, you draw a body, and they draw the
				legs, then of course we will have a cohesive drawing in the end. but the connective tissue
				will be painfully visible (beyond the line that marks the process).
			</p>
			<img src="/img/tododia/corpse2.png" alt="another exquisite corpse connective tissue" />
			<p>
				i wish for an exquisite corpse where more thought is given for the connective tissue than
				for the individual piece. i don't care how cool your head looks, or how your cool is the
				hair you drew in the torso. i wanna se a neck, made by both of us, a connection in which you
				can see both hands, the one that invided the connection, and the one that completed it.
				thats where the space to play exquisite corpses well is.
			</p>
		</details>
	</div>

	<div style="width: 300px">
		<p>
			let's make a thing, that is like an exquisite corpse, but its less of a corpse, and more like
			an image i've seen suggested once of a meat printer, printing an infinite piece of amourphous
			corpse. we make the meat connect to itself, and extend infinitely.
		</p>
		<p>
			this will be an image meat, a meat composed of pixels, especifically and image that is taller
			than it is wide. its going to be especifically an image that is 128 pixels tall by 32 pixels
			wide. to embrace connetiveness theres no empty space. 16 pixels of your image are defined by
			the previous person, and the next 16 are your space to extend a connection to the next. ill
			start with only a 16x128 image.
		</p>
		<p>
			this is for people that i somehow know, for now, so if you know me, and want to work on this,
			send me a dm somewhere that i might respond, and i will, and will update the drawing
			acordingly. i will give you the key for the full image once you send me your contribution. you
			can send multiple contributions.
		</p>
	</div>
	<div style="width: 300px">
		<img
			class="something"
			src="/img/tododia/corpse/current.png"
			alt="the 16 pixels from the previous person"
		/>
		<p>pancelor just did it, now its your turn.</p>
	</div>
</div>

<style>
	html {
		height: fit-content;
	}

	.container {
		padding: 3vmin;
		overflow-y: visible;
		background-color: #e5e6e1;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		font-family: 'Courier New', Courier, monospace;
		flex-wrap: wrap;
		height: 100%;
	}

	h4 {
		font-size: 6vh;
		color: #0e0e0e;
	}

	.something {
		height: 80vmin;
		padding-left: 20%;
		image-rendering: pixelated;
	}
</style>
