<script>
	import Newtab from '$lib/utils/newtab.svelte';
	const phrase =
		'The <a href> tag is the most essential tag of HTML. A is for “anchor”, HREF is for hypertext REFerence – <A HREF> is to tie, to weave, to knit. One would think it is the essence and the core, but we see more and more signs that in a year or two it will be “deprecated”, browsers will just ignore it as some sort of <blink> or <marquee>, as if it is something decorative, but unnecessary, just a feature, that can be removed.';
	const words = phrase.split(' ');

	const links = [
		'https://interfacecritique.net/book/olia-lialina-from-my-to-me/#anker58',
		'https://www.foddy.net/2014/09/speed-chess/',
		'https://even-kei.medium.com/divest-from-the-video-games-industry-814a1381092d',
		'https://miro.com',
		'https://github.com/frogfrogforg/c0llage/tree/main/core/dumpling',
		'https://sonicresearch.org/community/index.php?threads/snolf-sonic-golf.5824/',
		'https://www.glorioustrainwrecks.com/node/10240',
		'https://www.mjt.org/exhibits/eden/trailers.html',
		'https://if50.substack.com/p/1992-silverwolf',
		'https://www.youtube.com/watch?v=JpVrIjj8mhU',
		'https://www.are.na/block/15005206',
		'http://www2.hawaii.edu/~freeman/courses/phil330/MANIFESTO%20OF%20SURREALISM.pdf',
		'http://viznut.fi/texts-en/permacomputing.html',
		'https://www.theatlantic.com/technology/archive/2021/10/fix-facebook-making-it-more-like-google/620456/',
		'https://www.onasunbeam.com/#/chapter-one/',
		'https://www.youtube.com/watch?v=n9QuXftW21M',
		'https://www.are.na/block/15163920',
		'http://www.hardcoregaming101.net/kaze-no-notam/',
		'https://www.leagueoflegends.com/en-us/champions/',
		'https://via.hypothes.is/https://www.jofreeman.com/joreen/tyranny.htm',
		'https://rodri-go.net/theautonomousweb/',
		'https://www.media.mit.edu/cogmac/lcc/hofstadter.html',
		'https://gamefaqs.gamespot.com/boards/937723-castlevania-symphony-of-the-night/60667445',
		'https://qorg11.net/funnyhtmls/stallmanlain.en.txt',
		'http://www.digitalhumanities.org/dhq/vol/15/1/000501/000501.html#p69',
		'https://suspendedreason.com/2021/12/18/vibe-shift-pt-2-nameless-faceless/',
		'https://www.glass-bead.org/article/a-theory-of-vibe',
		'https://emreed.net/secret/museum_intro.html',
		'https://selectbutton.net/t/a-semi-arbitrary-list-of-experimental-art-games/12392',
		'http://vispo.com/animisms/SeattleDriftEnglish.html#',
		'https://billseaman.com/works/2018_the_oper&.html',
		'https://playkids.ch/process/2013',
		'https://www.mailta.pe/',
		'https://web.archive.org/web/20200126052523/http://forums.na.leagueoflegends.com/board/showthread.php?t=293417',
		'https://www.dropbox.com/s/ywbetyzchw1mb0h/Moriyama-San.mp4?dl=0',
		'https://vimeo.com/200992946',
		'https://cactusquid.blogspot.com/2009/05/',
		'https://dumpling.love/forest/computer-love',
		'https://losbitchos.bandcamp.com/releases',
		'https://makeourway.com/',
		'https://volvoxvault.com/archive/LHO',
		'https://scanlines.xyz/',
		'https://archive.org/details/hypercard_first-screening',
		'https://yesterweb.org/zine/issue-02/',
		'https://editor.p5js.org/leslie016/sketches/mjTeQndqh',
		'http://superbad.com/',
		'https://www.flickr.com/photos/46990836@N03/10505760044',
		'http://www.pippinbarr.com/games/itisasifyouwereplayingchess/',
		'https://www.youtube.com/watch?v=EVGonAUUQ8c',
		'https://www.youtube.com/watch?v=N9KncpPI3RM',
		'https://www.freeindiegam.es/2012/09/cowboyana-mark-essen/',
		'https://gurnburial.itch.io/',
		'https://afterglowgames.itch.io/',
		'https://www.annekgoodfriend.com/aptr',
		'https://codepen.io/bfod/pen/Qjerrr?editors=0010',
		'https://buttondown.email/deathtorealism',
		'https://fruitful.school/blog/',
		'https://github.com/apondlife/discone/wiki/novels',
		'https://www.youtube.com/watch?v=AGqOQgQj6tA',
		'http://superglue.it/',
		'https://steamcommunity.com/workshop/filedetails/?id=2755930636',
		'https://artmuseum.pl/en/kolekcja/praca/seda-katerina-tam-nic-nie-ma-gra-dla-nieograniczonej-ilosci',
		'https://increpare.com/game/treatise.html',
		'https://bigbag.itch.io/i-thought-these-three-people-could-do-it',
		'https://mirror-networking.gitbook.io/docs/guides/gameobjects/player-gameobjects',
		'https://unity-atoms.github.io/unity-atoms/tutorials/mono-hooks',
		'https://journals-sagepub-com.proxy.library.nyu.edu/doi/pdf/10.1177/1046878116664662',
		'https://docs.google.com/spreadsheets/d/1nsWsGV4zG6mDNzb8p_iXQbwu5VzkRsd9cnX0onypflw/edit#gid=0',
		'https://muts.itch.io/saint-wiggler-in-the-desert',
		'https://2022.award.amaze-berlin.de/',
		'https://caramel.itch.io/longdrive',
		'https://tribunemag.co.uk/2019/07/savage-messiah',
		'https://colab.research.google.com/drive/1n_xrgKDlGQcCF6O-eL3NOd_x4NSqAUjK',
		'https://meepmoop.itch.io/goi-with-meep-moop',
		'https://www.blog.radiator.debacle.us/2017/04/a-survey-of-video-game-manifestos.html',
		'https://sadgrl.online/cyberspace/surf-the-web.html',
		'https://www.festivalecra.com.br/',
		'https://laurelschwulst.com/?%2C+',
		'https://svelte.dev/tutorial/each-blocks',
		'https://imitone.com/',
		'https://planplantsillus.itch.io/sun-and-moon',
		'https://dynalist.io/d/4I3UO12vCTSkq03WeZZdRwR8#z=sWhh-n24zDdB--PfX_Cf5ysD',
		'https://via.hypothes.is/https://arxiv.org/pdf/2011.09201v1.pdf',
		'https://bigbag.itch.io/eulogy',
		'http://www.cassiemcquater.com/'
	];

	let seed = Math.floor(Math.random() * 1000);
</script>

<div class="container">
	<div style="width: 50%; padding:10%">
		{#each words as word, i}
			<span>
				<Newtab href={links[(i + seed) % links.length]}>{word}</Newtab>
			</span>
		{/each}
	</div>
</div>

<style>
	.container {
		background-color: #e5e6e1;
		display: flex;
		font-family: 'Courier New', Courier, monospace;
		height: 100%;
	}
</style>
