<script>
</script>

<div class="container">
	<img src="/img/tododia/smash.gif" alt="3 almost good smash combos" />
</div>

<style>
	.container {
		background-color: #e5e6e1;
		display: flex;
		font-family: 'Courier New', Courier, monospace;
		height: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		-webkit-filter: blur(9px) saturate(250%);
		filter: contrast(330%) saturate(450%) blur(42px) hue-rotate(-30deg);
	}
</style>
