<script>
	const table = [
		'a well, deep, old',
		'a rug, soft, red',
		'a door, locked, heavy',
		'a note, short, undecipherable',
		'a login screen, password, wrong',
		'a star, blinking, dim',
		'a child, sleeping, quiet',
		'a hole in the wall, dark, moist',
		'a rune, glowing, weird',
		'a dream, vague, forgotten',
		'a body, old, decaying',
		'a dog, happy, following',
		'a pencil, dark, broken',
		'a gun, loaded, rusty',
		'a key, golden, toothless',
		'a hankerchief, silky, blue',
		'a tooth, yellow, bloody',
		'a drip, constant, distant',
		'a locket, blurry, closed',
		'a picture frame, empty, new'
	];
</script>

<div class="container">
	<h2>a table, disquieting, unforgetable</h2>
	<ol>
		{#each table as item, i}
			<li class={i === 17 ? 'drip' : ''}>{item}</li>
		{/each}
	</ol>
</div>

<style>
	.container {
		background-color: #1a1919;
		color: #b8b1b1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		font-family: 'Courier New', Courier, monospace;
		padding-right: 20%;
		height: 100%;
	}

	ol {
		list-style-type: decimal-leading-zero;
	}

	.drip {
		animation-name: dripping;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}

	@keyframes dripping {
		0% {
			color: #b8b1b1;
			text-shadow: 0px 0px 0px #b8b1b1;
		}

		1% {
			color: #ffffff;
			text-shadow: 0px 0px 20px #b8b1b1;
		}

		4% {
			color: #b8b1b1;
			text-shadow: 0px 0px 20px #b8b1b1;
		}

		8% {
			text-shadow: 0px 0px 0px #b8b1b1;
		}
	}
</style>
