<script>
	import { onMount } from 'svelte';

	let canvas;
	let ctx;
	let offset = 0;

	onMount(() => {
		const width = canvas.width; // 500
		const height = canvas.height; // 300
		ctx = canvas.getContext('2d');
	});

	function resizeHandler(evt) {
		console.log(evt);
	}

	function dropHandler(evt) {
		if (evt.dataTransfer.items) {
			// Use DataTransferItemList interface to access the file(s)
			for (var i = 0; i < evt.dataTransfer.items.length; i++) {
				// If dropped items aren't files, reject them
				if (evt.dataTransfer.items[i].kind === 'file') {
					var file = evt.dataTransfer.items[i].getAsFile();
					console.log('... items file[' + i + '].name = ', file);
					if (!file.type.includes('image')) return;
					const reader = new FileReader();
					reader.onload = function (e) {
						console.log(e);
						var img = new Image();
						img.src = e.target.result;
						img.onload = function () {
							ctx.drawImage(img, offset / 2, 0);
							console.log(img);
							offset += img.width;
						};
					};
					reader.readAsDataURL(file);
				}
			}
		} else {
			// Use DataTransfer interface to access the file(s)
			for (var i = 0; i < evt.dataTransfer.files.length; i++) {
				console.log('... files file[' + i + '].name = ' + evt.dataTransfer.files[i]);
			}
		}
	}
</script>

<div
	class="container"
	on:dragover|preventDefault
	on:resize={resizeHandler}
	on:drop|preventDefault={dropHandler}
>
	<h2>image stitcher</h2>
	<canvas width="300" height="128" id="canvas" bind:this={canvas} />
</div>

<style>
	.container {
		background-color: #1a1919;
		color: #b8b1b1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: 'Courier New', Courier, monospace;
		padding-right: 20%;
		height: 100%;
	}

	#canvas {
		width: 100%;
		height: 30%;
	}
</style>
