<script>
	import Newtab from '$lib/utils/newtab.svelte';

	const Elements = [
		'a',
		'abbr',
		'address',
		'area',
		'article',
		'aside',
		'audio',
		'b',
		'base',
		'bdi',
		'bdo',
		'blockquote',
		'body',
		'br',
		'button',
		'canvas',
		'caption',
		'cite',
		'code',
		'col',
		'colgroup',
		'data',
		'datalist',
		'dd',
		'del',
		'details',
		'del',
		'details',
		'dfn',
		'dialog',
		'div',
		'dl',
		'dt',
		'em',
		'embed',
		'fieldset',
		'figcaption',
		'figure',
		'footer',
		'form',
		'h1 to h6',
		'head',
		'header',
		'hgroup',
		'hr',
		'html',
		'i',
		'iframe',
		'img',
		'input',
		'ins',
		'kbd',
		'label',
		'legend',
		'label',
		'legend',
		'li',
		'link',
		'main',
		'map',
		'mark',
		'menu',
		'meta',
		'meter',
		'nav',
		'noscript',
		'object',
		'ol',
		'optgroup',
		'option',
		'output',
		'p',
		'param',
		'pre',
		'progress',
		'q',
		'rp',
		'rt',
		'ruby',
		's',
		'samp',
		'script',
		'section',
		'select',
		'small',
		'source',
		'span',
		'strong',
		'style',
		'sub',
		'summary',
		'sup',
		'table',
		'tbody',
		'td',
		'textarea',
		'tfoot',
		'th',
		'thead',
		'time',
		'title',
		'tr',
		'track',
		'ul',
		'var',
		'video',
		'wbr'
	];

	function getRandomElement() {
		return Elements[Math.floor(Math.random() * Elements.length)];
	}

	let randomElement = getRandomElement();
</script>

<div class="container">
	<div class="description">
		<p>here's a random html element for you:</p>
		<div class="element">&lt{randomElement}&gt</div>
		<button on:click={(_) => (randomElement = getRandomElement())}>randomize!</button>
	</div>
</div>
<div
	style="color: #A3A4A7; position: fixed; rotate:-90deg; right: 20px; bottom: 10px; transform-origin: left; translate: 100%"
>
	oh no even more meta, we are now talking about html Elements themselves
</div>

<style>
	.container {
		width: 100%;
		height: 100%;
		background: #282a35;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
			sans-serif;

		color: #f6f6f4;
		overflow-x: hidden;
	}

	.title {
		font-size: 5em;
	}

	.description {
		width: 50%;
	}

	.element {
		font-size: 14vw;
		margin-left: -10vw;
		color: #f187c2;
	}

	.comment {
	}
</style>
