<script></script>

<div class="container">
	<p><b>07:00 to 8:00: </b>wake up, take shower, eat rice, go to school</p>
	<p><b>8:00 to 10:45: </b>ta from (more like 11:20, why would anyone teach git branching?)</p>
	<p><b>11:20 to 12:30: </b>vibing from</p>
	<p><b>12:30 to 13:10: </b>looking for food, but ending up just walking around with friends</p>
	<p><b>13:10 to 13:15: </b>going to food place</p>
	<p><b>13:15 to 13:30: </b>waiting for food, while reading book</p>
	<p>
		<b>13:30 to 14:00: </b>eating delicious rice balls while walking on soft rain back to school
	</p>
	<p>
		<b>14:00 to 15:40: </b>playing cool card game fortress (instead of napping, headache starts)
	</p>
	<p><b>15:00 to 16:00: </b>also listening in to conversation about unions</p>
	<p><b>16:00 to 18:25: </b>game feel, melee, boat, touching and imagining, rtchess</p>
	<p><b>18:25 to 19:10: </b>game feel, banana squishing, delicious</p>
	<p><b>19:10 to 19:45: </b>going home, stop at market</p>
	<p><b>19:45 to 22:10: </b>finally nap</p>
	<p><b>22:10 to 22:40: </b>mac and cheese, beer</p>
	<p><b>22:40 to 23:30: </b>going to times square to see art thing, read book in train</p>
	<p><b>23:30 to 23:57: </b>wait for art thing, expect little, its very cold</p>
	<p><b>23:57 to 00:00: </b>gradients in big screens</p>
	<p><b>00:00 to 00:20: </b>talk about gradients in big screens</p>
	<p><b>00:20 to 00:30: </b>walk to bar with a bunch of people, its very cold</p>
	<p><b>00:30 to 01:30: </b>be in bar</p>
	<p><b>01:30 to 01:45: </b>go out of bar, chug beers in the cold, incredible, dumb, incredible</p>
	<p><b>01:45 to 02:20: </b>be in bar</p>
	<p><b>02:20 to 02:40: </b>consider going home, eat very good 1$ slice pizza, go to other bar</p>
	<p><b>02:40 to 04:10: </b>be in new bar, tired</p>
	<p><b>04:10 to 05:00: </b>go back home, sleepy, tired, happy</p>
	<p><b>05:00 to 13:00: </b>sleep</p>
	<p><b>13:00 to 16:20: </b>half sleep, tiktok, reddit, discord, sleep</p>
	<p><b>16:20 to 17:00: </b>cook beans, eat with rice, listen to podcast</p>
	<p><b>17:00 to 17:30: </b>play super mario world, listen to podcast</p>
	<p><b>17:30 to 17:50: </b>shower, water gets cold</p>
	<p><b>17:50 to 18:00: </b>see roomates cool project</p>
	<p><b>18:00 to 18:35: </b>write this website</p>
	<p><b>18:35 to 18:40: </b>make gradient background</p>
</div>

<style>
	.container {
		background: rgb(254, 249, 255);
		background: linear-gradient(
			0deg,
			rgba(254, 249, 255, 1) 0%,
			rgba(255, 139, 255, 1) 41%,
			rgba(76, 215, 246, 1) 100%
		);
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: center; */
		/* align-items: center; */
		padding: 2vmin;
		height: 100%;
		overflow-y: scroll;
	}

	img {
		max-height: 50vh;
		width: auto;
		padding: 5vmin;
		background-color: #f8f8ee;
		border: 5px solid #5a5a5a;
		border-radius: 2px;
		box-shadow: 20px 20px 40px -25px #000;
	}

	.leave {
		margin-right: 10vmin;
		margin-bottom: 10vmin;
		padding-left: 4vmin;
		padding-right: 4vmin;
		font-size: 10vmin;
		background: #e73424;
		color: #240b0b;
	}
</style>
