<script></script>

<div class="container">
	<p>I skipped a day and its been hurting me, so i made this page to stop the pain</p>
</div>

<style>
	.container {
		background: rgb(197, 0, 82);
		/* display: flex; */
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2vmin;
		height: 100%;
	}
</style>
