<script>
	import { onMount } from 'svelte';
	let root, karaoke;
	onMount(() => {
		karaoke = root.querySelector('#karaoke');
	});

	function play() {
		karaoke.play();
	}

	function pause() {
		karaoke.pause();
	}

	let lastx = -100;
	let lasty = -100;
	function scan(e) {
		const x = e.clientX;
		const y = e.clientY;
		if (Math.abs(lastx - x) > 50) {
			karaoke.currentTime = (((x % 499) + 1) / 500.0) * karaoke.duration;
			karaoke.play();
			lastx = x;
		}

		if (Math.abs(lasty - y) > 50) {
			karaoke.playbackRate = (2 * (y % 499) + 1) / 500.0;
			karaoke.play();
			lasty = y;
		}
	}
</script>

<img src="/img/tododia/karaoke.jpg" alt="blurry karaoke" />
<div class="container" bind:this={root} on:click={play} on:pointermove={scan}>
	<div
		on:click={play}
		style="font-size: 10vmin; cursor:pointer; padding-left:{Math.floor(
			Math.random() * 800 - 400
		)}px"
	>
		🎤
	</div>
	<div
		on:click={play}
		style="font-size: 10vmin; cursor:pointer; padding-left:{Math.floor(
			Math.random() * 800 - 400
		)}px"
	>
		🎤
	</div>
	<div
		on:click={play}
		style="font-size: 10vmin; cursor:pointer; padding-left:{Math.floor(
			Math.random() * 800 - 400
		)}px"
	>
		🎤
	</div>
	<div
		on:click={play}
		style="font-size: 10vmin; cursor:pointer; padding-left:{Math.floor(
			Math.random() * 800 - 400
		)}px"
	>
		🎤
	</div>
	<div
		on:click={play}
		style="font-size: 10vmin; cursor:pointer; padding-left:{Math.floor(
			Math.random() * 800 - 400
		)}px"
	>
		🎤
	</div>
	<div
		on:click={play}
		style="font-size: 10vmin; cursor:pointer; padding-left:{Math.floor(
			Math.random() * 800 - 400
		)}px"
	>
		🎤
	</div>
	<div
		on:click={play}
		style="font-size: 10vmin; cursor:pointer; padding-left:{Math.floor(
			Math.random() * 800 - 400
		)}px"
	>
		🎤
	</div>
	<div
		on:click={play}
		style="font-size: 10vmin; cursor:pointer; padding-left:{Math.floor(
			Math.random() * 800 - 400
		)}px"
	>
		🎤
	</div>

	<div style="display: none">
		<audio src="/sound/karaoke.mp3" id="karaoke" loop="true" />
	</div>
</div>

<svelte:window on:blur={pause} />

<style>
	.container {
		/* background: #424437; */
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	img {
		position: fixed;
		top: 0px;
		z-index: -1;
		left: 0px;
		height: 100%;
		width: 100%;
		-webkit-filter: blur(9px) saturate(250%);
		filter: saturate(200%) blur(42px);
	}
</style>
