<script>
	import Recursion from '$lib/tododia/recursion.svelte';
	import { onMount } from 'svelte';

	let maxDepth = 100;
	let calculateStyle = function (depth) {
		var coln = Math.floor((depth / maxDepth) * 256);
		var cols = coln.toString(16).padStart(2, '0');
		var colss = (256 - coln).toString(16).padStart(2, '0');
		var pr = Math.random() * 10;
		var pt = Math.random() * 10;
		var w = Math.random() * 3 + 1;
		var h = Math.random() * 3 + 1;
		return `background: #ff00${cols}; padding:${pr}vh ${pt}vw; width:${w}vmin; height:${h}vmin; border: #ff00${colss} solid 5px`;
	};
</script>

<div class="container">
	<Recursion {maxDepth} let:depth {calculateStyle} c="rec" />
</div>

<style>
	.container {
		background: #0011ff;
		height: fit-content;
		width: max-content;
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: center; */
		align-items: center;
	}

	.rec {
		border: double black 10px;
		width: fit-content;
		height: 100%;
		padding: 10px;
	}
</style>
