<script>
	const words = {
		metalique: '#C3C9C9',
		'99c ramen': '#FD161D',
		flavortown: '#E9E3D2',
		69: '#8B5454',
		nipple: '#A8856F',
		watun: '#32A343',
		alfajor: '#7EBAF0',
		risotto: '#EEDDB2',
		sausage: '#86000B',
		uncaring: '#FBBAC3',
		szeth: '#363F4A',
		foment: '#020202'
	};

	let root;
	let defaultColor = '#ffffff';

	function onWordClick(e) {
		e.target.classList.add('visited');

		e.target.style.color = 'black';
		e.target.style.background = 'none';
		e.target.style.border = 'none';
		e.target.style.cursor = 'text';
	}
	function onPointerEnter(e) {
		root.style.background = words[e.target.id];
	}
	function onPointerOut(e) {
		root.style.background = defaultColor;
	}
</script>

<div class="container" bind:this={root}>
	<p class="forgot visited">and i forgot the rest</p>
	<div class="words">
		{#each Object.entries(words) as [k, v]}
			<div
				class="word"
				id={k}
				style="top: {Math.random() * 80 + 10}%; left: {Math.random() * 80 + 10}%;"
				on:pointerup={onWordClick}
				on:pointerenter={onPointerEnter}
				on:pointerout={onPointerOut}
			>
				{k}
			</div>
		{/each}
	</div>
</div>

<style>
	.container {
		height: fit-content;
		width: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.forgot {
		font-size: 40px;
	}

	.word {
		font-size: 20px;
		position: fixed;
		background-color: white;
		color: white;
		border: black 5px solid;
		cursor: pointer;
		user-select: none;
	}
</style>
