<script>
</script>

<div class="container">
	<p>this website was made during one unity load time. which is taking too fucking long</p>
	<p>adding a bit more on a <b>second</b> load. more than a minute per load, it fucking sucks</p>
	<p>i hope i can <b>fix</b> this soon... i don't</p>
	<p>last one <b>hopefully</b></p>
</div>

<style>
	.container {
		background-color: blueviolet;
		color: aqua;
		height: fit-content;
		width: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		font-size: 10px;
	}
</style>
