<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<p>i've fixed the unity problem, day was incredible</p>
	<p>gotta write soon about</p>
	<p>the idea of a <Newtab href="/blog/well-imagined-game">the well imagined game</Newtab></p>
</div>

<style>
	.container {
		background-color: blueviolet;
		color: aqua;
		height: fit-content;
		width: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		font-size: 10px;
	}
</style>
