<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<p>tried writing a poem</p>
	<p>it felt</p>
	<p>weird</p>
	<p>too romantic. too personal.</p>
	<p>never felt the anxiety of just putting myself out there</p>
	<p>leave it</p>
	<p>to the desktop</p>
	<p>archaeologists</p>
</div>

<style>
	.container {
		background-color: rgb(122, 122, 122);
		color: rgb(151, 50, 100);
		height: fit-content;
		width: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 20px;
	}
	.container p {
		padding-left: 30%;
	}
</style>
