<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<p>revisited the well today.</p>
</div>

<style>
	.container {
		background: url('/img/tododia/well.jpg');
		background-size: cover;
		color: rgb(190, 233, 226);
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 20px;
	}
	.container p {
		position: fixed;
		bottom: 10px;
		left: 50%;
	}
</style>
