<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	mais um dia de simplesmente nao fazer nada nesse site<br />
	tenho que parar e sentar um dia mais pra fazer isso direito <br />
	talvez voltar a pedir ajuda pra pessoas aleatorias<br />
	me darem ideias<br />
	ou talvez só colaborar<br />
</div>

<style>
	.container {
		background-color: black;
		color: rgb(70, 0, 0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 100px;
	}
</style>
