<script>
	function buttonClick() {}
</script>

<div class="container">
	<button style="font-size: 1.5vmin">botãozinho</button>
	<button style="font-size: 5vmin">botão</button>
	<button style="font-size: 10vmin">botãozão</button>
</div>
<div
	style="color: #f6f6f4; position: fixed; rotate:-90deg; right: 20px; bottom: 10px; transform-origin: left; translate: 100%"
>
	today i made this button, it might backfill to buttons in other days.
</div>

<style>
	.container {
		width: 100%;
		height: 100%;
		background: #282a35;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
			sans-serif;
		color: #f6f6f4;
	}
</style>
