<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
</div>

<style>
	.container {
		background-color: black;
		color: rgb(255, 0, 0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 100px;
	}
</style>
