<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<div>i have a pet now apparently</div>
	<iframe
		width="314"
		height="321"
		scrolling="no"
		src="https://gifypet.neocities.org/pet/pet.html?name=splok&dob=1647548853&gender=b&element=Water&pet=frog.gif&map=night.gif&background=wood.jpg&tablecolor=%23ff00ff&textcolor=%2300ff00"
		frameborder="0"
		title="gifypet"
	/>
</div>

<style>
	.container {
		background-color: black;
		color: rgb(255, 0, 0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 100px;
	}
</style>
