<script>
	import Newtab from '$lib/utils/newtab.svelte';
</script>

<div class="container">
	<h1>Reflection on creative practice</h1>
	<h2>ie: making a website every day</h2>
	<div>
		<p>
			When i decided to make a website every day for this class i knew that it was going to be a
			hard challenge, especially since it takes some effort to actually start doing it. its not
			exactly something that you can sketch on the ride on the train, or so i thought initially.
		</p>
		<p>
			in the beginning i would spend a lot of time doing each one, maybe averaging an hour each. an
			early idea was to make an <Newtab href="2">index</Newtab> with all the dailies made and any extra
			ideas i had. i got meta very early, and ended up thinking of tools i could use to continue to make
			these experiments later on.
		</p>
		<p>
			eventually i started getting lazy, and i think it was one of the most exciting parts of the
			process. when i started making websited in a very short time. my personal favorite was <Newtab
				href=""
			>
				the one that i made on the subway train, on my phone between two stations, drunk and tired.</Newtab
			>
		</p>
		<p>
			then i read this amazing book called <Newtab
				href="https://www.goodreads.com/book/show/57718733-pequena-coreografia-do-adeus"
				>Pequena Coreografia do Adeus</Newtab
			>, by Aline Bei. It made me want to write more poetry stuff and think more about words in the
			page. the one about golfing in the desert is a personal favorite now
		</p>
		<p>
			on spring break, on my parents house and outside the constant school work, i fell out of hype
			and was more interested in doing my instagram drawings and other drawings in general
		</p>
		<p>
			i fell by the wayside again, and recently have been exploring more mspaint drawings, which i
			had already saved before in a random folder and saw everest pipkin mentionig that they save
			all their screenshots in their website. you can find the mspaint draings <Newtab
				href="/mspaint">here</Newtab
			>
		</p>
	</div>
	<h3>- moochi</h3>
</div>

<style>
	.container {
		background-color: black;
		color: rgb(255, 0, 0);
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		width: 100%;
		height: 100%;
		font-size: 100px;
		overflow-y: scroll;
	}
</style>
