<script>
	import { onMount } from 'svelte';

	const thoughts = [
		'write about the alien folk game i played the other day',
		'draw stranged on the subway and collage them on a website',
		'clinton washington avenue',
		"<abbr> tag. i don't know what it means and i have no internet",
		'maybe i could do this writing thoughts by default...',
		'blank thoughts, thoughts about having blank thoughts',
		'impressed that i already filled a whole notebook page, not that hard',
		'internet is back <abbr> tag is like making abbreviations of stuff, write down all the acronyms i can thing of'
	];

	let root;

	function randomize() {
		const thoughts = root.querySelectorAll('.thought');
		thoughts.forEach((thought) => {
			thought.style.left = `${20 + Math.random() * 60}%`;
			thought.style.top = `${20 + Math.random() * 60}%`;
			thought.style.rotate = `${[0, 90, 180, 270][Math.floor(Math.random() * 4)]}deg`;
		});
		console.log("randomizing")
	}

	onMount(() => {
		console.log('aaaa');
		// randomize();
	});
</script>

<div class="container" bind:this={root}>
	{#each thoughts as thought}
		<p class="thought" style={`position: fixed; left: ${20 + Math.random() * 60}%; top: ${20 + Math.random() * 60}%; rotate: ${[0, 90, 180, 270][Math.floor(Math.random() * 4)]}deg`}>
			{thought}
		</p>
	{/each}
	<button class="h2" on:click={randomize}>
		all the thoughts that crossed my mind on the subway today when thinking about my daily thing
	</button>
</div>

<style>
	.container {
		width: 100%;
		height: 100%;
		background: #564256;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
			sans-serif;
		color: #e8e8e8;
	}

	.h2 {
		color: #fc814a;
		background-color: #564256;
		z-index: 100;
		cursor: pointer;
		font-size: 2em;
		font-weight: bold;
	}
	p {
		background-color: #564256;
	}
</style>
