<script>
	import { onMount } from 'svelte';

	let root;
	let kiss1;
	let kiss2;
	let currentKiss;
	let hasKissed = false;

	onMount(() => {
		kiss1 = root.querySelector('#kiss1');
		kiss2 = root.querySelector('#kiss2');
		currentKiss = kiss2;
	});

	function onClickScreen(e) {
		if (hasKissed) {
			return;
		}

		hasKissed = true;
		currentKiss.style.display = 'block';
		currentKiss.style.position = 'absolute';
		currentKiss.style.left = `${e.clientX}px`;
		currentKiss.style.top = `${e.clientY}px`;

		kiss1.style.cursor = 'pointer';
		kiss2.style.cursor = 'pointer';
	}

	function onClickKiss(e) {
		console.log(e);
		if (!hasKissed) {
			return;
		}
		hasKissed = false;
		currentKiss = e.target;

		currentKiss.style.display = 'none';
		kiss1.style.cursor = 'inherit';
		kiss2.style.cursor = 'inherit';

		e.preventDefault();
		e.stopPropagation();
	}
</script>

<div class="container {hasKissed ? '' : 'cursor-kiss'}" bind:this={root} on:click={onClickScreen}>
	<p>a kiss is an endeavor between two people.</p>
	<div on:click={onClickKiss} class="kiss" id="kiss1">💋</div>
	<div on:click={onClickKiss} class="kiss" id="kiss2" style="display: none">💋</div>
</div>

<style>
	.container {
		width: 100%;
		height: 100%;
		background: #f7c1bb;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
			sans-serif;
		color: #353a47;
	}

	.cursor-kiss {
		cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60"><text x="0" y="10" font-size="50" dominant-baseline="hanging">💋</text></svg>'),
			auto !important;
	}

	.kiss {
		font-size: 30px;
		cursor: inherit;
	}

	p {
		font-size: 3vw;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
</style>
