<script>
	const en = 'the day i realized i was thinking in english'.split(' ');
	const br = 'o dia que percebi que estava pensando em inglês'.split(' ');

	class Pair {
		constructor(top, bottom) {
			this.top = top;
			this.bottom = bottom;
		}

		flip() {
			const aux = this.top;
			this.top = this.bottom;
			this.bottom = aux;
		}
	}

	const pairs = en.map((e, i) => {
		const n = new Pair(e, br[i]);
		if (Math.random() < 0.5) {
			n.flip();
		}
		return n;
	});
</script>

<div class="container">
	{#each pairs as pair}
		<div style="width: 40%;">
			<ruby>
				{pair.bottom}<rp>(</rp><rt>{pair.top}</rt><rp>)</rp>
			</ruby>
		</div>
	{/each}
</div>

<style>
	.container {
		width: 100%;
		height: 100%;
		background: #221515;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
			sans-serif;
		color: #353a47;
	}

	ruby {
		font-size: 5vh;
		font-weight: bold;
	}
</style>
