<div class="container" />
<div class="tooltip">
	<span class="information">
		this is the page where the information icon was created. it serves to describe what a page is
		about.
	</span>
	[ℹ]
</div>

<style>
	.container {
		background-color: #112233;
		width: 100%;
		height: 100%;
	}

	.tooltip {
		position: fixed;
		right: 2%;
		top: 2%;
		color: #ffeedd;
		font-size: 20px;
		text-align: right;
	}

	.tooltip .information {
		font-size: 12px;
		/* transform: rotate(-90deg) translate(45%, 100%); */
		/* transform-origin: 0% 100%; */
		width: 10px;
		display: block;
		overflow-x: hidden;
		top: 0px;
		word-break: break-all;
		transition: width 1000ms ease-in-out;
		/* max-height: 300px; */
	}

	.tooltip:hover .information {
		width: 300px;
	}
</style>
