html, body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
}


.tool {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.title {
  font-size: 5em;
  align-items: center;
  margin-bottom: 10px;
}

.card {
  border-radius: 20px;
  border: 3px;
  border-style: solid;
  margin: 10px;
  cursor: pointer;
  padding: 12px;
}

.dropdown {
  position: relative;
  width: 150px;
  display: inline-block;
  border: solid 1px black;
  color: black;
  background-color: white;
}

.hidden {
  display: none;
}

.dropdown-input {
  position: relative;
  width: 150px;
  display: inline-block;
  color: black;
  background-color: white;
}

.dropdown-input select {
  width: 100%;
  border: solid 1px black;
  color: black;
  background-color: white;
}

.dropdown-input>* {
  box-sizing: border-box;
  height: 1.5em;
}

.dropdown-input input {
  position: absolute;
  border: solid 1px black;
  width: calc(100% - 20px);
}

.button {
  border: solid 1px black;
  color: black;
  background-color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #52525E;
  color:white;
}

.card-tag {
  padding: 4px;
  text-align: left;
  border: solid 1px black;
  margin: 5px;
}

.card-tag-text {
  display: inline-block;
}

.card-tag-delete {
  cursor: pointer;
  margin-left: 10px;
}
